/*
    Author: Leandro.Zambelli@yahoo.com
 */


@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400);

body { font-family: 'Montserrat', sans-serif; overflow-x: hidden !important }


/* =BOOTSTRAP RESET
 */


nav { font-family: sans-serif; transition: all ease 0.5s }

.btn { padding:9px 30px 10px 30px; font-family: sans-serif; font-size: 0.875rem; border-radius: 50px  }
.btn-sm, .btn-group-sm > .btn { padding: 5px 25px 6px 25px; font-size: 0.875rem; margin-top: 10px }
.btn-xs, .btn-group-xs > .btn { margin:0!important;  padding: 2px 9px 3px 9px; font-size: 0.875rem; margin-top: 10px; border-radius: 2px }

.btn-primary{background-color: hsl(209 100% 17%); border-color: hsl(209 100% 17%); color:#fff}
.btn-primary:hover{background-color: hsl(209 100% 27%); border-color: hsl(209 100% 27%)}
.btn-primary:focus, .btn-primary.focus{background-color: hsl(209 100% 22%); border-color: hsl(209 100% 22%)}
.btn-primary:active, .btn-primary.active{background-color: hsl(209 100% 22%)!important; border-color: hsl(209 100% 22%)!important}

.btn-success{background-color: hsl(156 91% 37%); border-color: hsl(156 91% 37%); color:#fff}
.btn-success:hover{background-color: hsl(156 91% 27%); border-color: hsl(156 91% 27%)}
.btn-success:focus, .btn-success.focus{background-color: hsl(156 91% 17%); border-color: hsl(156 91% 17%)}
.btn-success:active, .btn-success.active{background-color: hsl(156 91% 17%)!important; border-color: hsl(156 91% 17%)!important}

a.btn[href^="mailto:"] { color: #fff }

.badge {
  padding: 0.7em 0.4em;
}

.badge-primary { background: #002c55; }

table { font-size: 0.9em; }

.table th { border-bottom: 2px solid rgba(0,0,0,0.1); }
.table td { border-top: none; vertical-align: middle!important }

.table td a.btn { color: #fff }

.table-dark, .table-dark > th, .table-dark > td { background-color: #001f3b; }

    @media (max-width: 767px){

        thead { display: none; visibility: hidden }
        tr:nth-child(odd) td{ border-bottom:2px dashed #fff!important }
        td { width:100%!important; display:block; border-bottom:2px dashed #eee!important }

    }

.list-group-item.active { z-index: 2; color: #fff; background-color: #002c55; border-color: #002c55; }


/* JS List
*/

/* usado na pagina dos produtos e catalogos para deixar a sidebar com os tamanhos certos */

#js-list-active.fixed { width: 262px }

    @media (max-width:1199px){
        #js-list-active.fixed { width: 218px }
    }

    @media (max-width:991px){
        #js-list-active.fixed { width: 158px }
    }

    @media (max-width:767px){
        #js-list-active { display: none }
    }


/* =ANIMATION
*/

.animated { animation-duration: 1s; animation-fill-mode: both; }
.fadeIn { animation-name: fadeIn; }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }


/* =CLASSES
 */


.produtos p, .produtos a.ver-mais { font-size: 0.9em; font-weight: bold; display: block; min-height: 60px; background: #ddd; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 10px }
.produtos a.ver-mais { padding: 20px 0; background-color: hsl(156 91% 37%); color: #fff }
.produtos a.ver-mais:hover { text-decoration: none; background-color: hsl(156 91% 27%)  }

.catalogos a.ver-mais { padding: 20px 0; background-color: #ddd; color: #41484C }
.catalogos a.ver-mais:hover { text-decoration: none;  background: #ccc }

/*
.line-tru { text-decoration: line-through }
*/

.container-wide { margin: 0 auto; max-width: 1800px } /* usado nas fotos das paginas de treinamentos e a empresa */

.push-d-5 { margin-bottom: 5px } /* classe generica para alinhamento */ 
.push-d-15 { margin-bottom: 14px } /* classe generica para alinhamento */ 
.push-d-20 { margin-bottom: 19px } /* classe generica para alinhamento */ 

.inline li { display: inline }

.maps { width: 100%; height: 480px; border: 0;  }

.text-blue { color: #002C55 }
.text-shadow { text-shadow: 0 0 10px #000 }

.bg-gradient { background: linear-gradient(120deg, #002c55 0%,#001f3b 100%) } /* usado nos banner */
.bg-dark-blue { background-color: #001F3B }
.bg-blue { background-color: #002c55 }
.bg-gray { background: #777 }
.bg-overlay { background: rgba(0,0,0,0.2); height: 100% }

.title { padding-top: 18px; padding-bottom: 14px; top:-36px; z-index: 2 } /* usado nos titulos das paginas */
.title-pages { padding-top: 18px; padding-bottom: 14px; bottom:-36px; z-index: 2 } /* usado nos titulos dos topicos de uma pagina */
.title-footer { padding-top: 18px; padding-bottom: 14px; top:40px } /* barra similar aos titulos, porem usado na nav do footer */

    @media (max-width:575px){
        .title.rounded, .title-pages.rounded, .title-footer.rounded { border-radius: 0!important }
    }

.padding-header { padding-top: 24px; padding-bottom: 24px } /* usado no header */
.padding-slides { padding-top: 70px; padding-bottom: 120px } /* usado nos slides para dar espaçamento */
.padding-pages { padding-top: 35px; padding-bottom: 35px} /* usado nas paginas pra dar espaçamento entre o header e o conteudo */

.space { margin-top: 85px } /* cria espaco entre itens do conteudo */

.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed; }

.back-top {
    font-size: 2em;
    position:fixed;
    bottom:0;
    right:0;
    padding:6px 23px 0px 27px;
    background:#ddd;
    color:#838383;
    border-top-left-radius:4px;
    transition: ease 0.2s
}
.back-top:hover, .back-top:focus, .back-top:active{color:#fff; text-decoration: none}
.back-top:hover{transition:all ease-in-out 0.1s; background:#002c55}

.hide-me{visibility: hidden; opacity: 0} /* usado para esconder o botao de voltar ao topo ou qualquer outra coisa que precise esconder */

.fotos { padding: 0; }
.fotos li{ width: 33.33%; height: auto; float: left; overflow: hidden; position: relative; list-style: none; }
.fotos li img { transition: 0.3s ease; padding: 0 }
.fotos li:hover img { transform: scale(1.2) }

.more { position: absolute; opacity: 0; visibility: hidden; width: 100%; height: 100%; z-index: 1; left: 0; top: 0; background: rgba(0,0,0,0.7); color: #fff; text-align: center; transition: 0.5s ease; }
.fotos li:hover .more { opacity: 1; visibility: visible; left: 0; top: 0;  }

.more span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

    @media (max-width: 767px){
        .fotos li { width: 50% }
    }

    @media (max-width: 575px){ 
        .fotos li { width: 100%; float: none }
    }


/* =TYPOGRAPHY
 */

h1{ line-height: 1.15em}

h1, h2, h3, h4 { font-weight: 400 }
h5, h6 { font-weight: 300 }

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: .95em; margin: 4px 0 }


    @media (max-width:767px){

        h1 { font-size: 2.3em; }
        h2 { font-size: 1.9em; }
        h3 { font-size: 1.7em; }
        h4 { font-size: 1.5em; }
        h5 { font-size: 1.3em; }

    }

p { margin-top: 0; margin-bottom: 1.6em; font-size: 1.2em; line-height: 1.4em; font-weight: 400; color: #41484C }
p:last-child { margin-bottom: 0 }

br.p { line-height: 2.4em }

a { transition: all ease 0.15s }

a[href^="tel:"], a[href^="mailto:"] { color: #ddd }
a[href^="tel:"]:hover, a[href^="mailto:"]:hover { color: #fff; text-decoration: none; }


/* =CSS grid
*/

/*
.grid {
  display: grid;
  width: 100%;
  align-content: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: 1.2em;
}

    @media (max-width:767px){

        .grid {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(1, auto);
          grid-gap: 1.2em;
        }

    }
*/

/* =NAV
*/

nav ul { margin-top: 18px;  padding: 0; float: right }
nav li { padding-right: 10px; display: inline-block; }
nav a { position: relative; color: #fff; font-weight: 300; font-size: 0.9em; transition: all ease 0.25s; z-index: 2 ; font-family: 'Montserrat', sans-serif; }
nav a:hover { color: rgba(255,255,255,0.4) /*#FF0098*/; text-decoration: none }

nav a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top:  -2px;
    right: 0;
    background-color: /*#c90078*/ rgba(255,255,255,0.4);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 2px;
}

nav a:hover:after { width: 33%; visibility: visible; }

    @media (max-width:991px) {

        nav li:first-child{display: none}

    }

    @media (max-width:767px){

        nav { max-height: 0; overflow: hidden; overflow: hidden }
        nav ul { margin-top: 0; float: none; }
        nav li { display: block; text-align: left; border-bottom: 1px dashed rgba(0,0,0,0.2) }

        nav a{ display: block; padding: 10px;}
        nav a:after { display: none}

        .btn-toggle-nav {
            position: absolute;
            top: 84px;
            right: 6px;
            padding:14px 12px;
            background: #fff;
            border-radius: 2px;
            z-index: 1
        }

        .bar{display: block; margin:3px 0; width: 24px; height: 3px; background:#001f3b; transition: linear 0.2s}

        .bar-close .bar:nth-child(1) {-webkit-transform:rotate(45deg) translate(5px,4px); transform: rotate(45deg) translate(5px,4px)}
        .bar-close .bar:nth-child(2) {visibility: hidden; opacity: 0}
        .bar-close .bar:nth-child(3) {-webkit-transform:rotate(-45deg) translate(4px,-4px); transform: rotate(-45deg) translate(4px,-4px)}
    }

.nav-footer ul { padding: 10px 0 0 0}
.nav-footer li { padding-right: 10px;  display: inline }
.nav-footer a{ position: relative; color: #ddd; font-size: 0.9em; }
.nav-footer a:hover{ color: #fff; text-decoration: none }

.nav-footer a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top:  -2px;
    right: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 2px;
}

.nav-footer a:hover:after { width: 33%; visibility: visible; }


/* =FOOTER
 */

footer { padding: 90px 0 70px 0; background: #888 }

footer h4 { color: #fff }
footer p{ font-size: 0.85em; color: #ddd }
footer ul { padding: 0; list-style: none }
footer a { color: #ddd;  padding-right: 10px; font-size: 0.85em }
footer a:hover { color: #fff; text-decoration: none; }

footer a img{filter: grayscale(100%); transition: all ease 0.3s}
footer a img:hover{filter: grayscale(0%)}

.footer-bottom {clear:both; margin:0; padding:8px 0 0 0; height:38px; background:#666; font-size:0.85em; color:#eee}
